// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/dist/css/bootstrap.min.css';

//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~bootstrap/dist/css/bootstrap-grid.css";
//@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~admin-lte/dist/css/AdminLTE.min.css";
@import "~admin-lte/dist/css/skins/_all-skins.min.css";

//@import "~admin-lte/dist/css/alt/AdminLTE-bootstrap-social.min.css";
//@import "~admin-lte/dist/css/alt/AdminLTE-fullcalendar.min.css";

//@import "~admin-lte/plugins/bootstrap-slider/slider.css";
@import "~font-awesome";
@import "~ionicons/dist/css/ionicons.min.css";
@import "~jvectormap/jquery-jvectormap.css";


.cover{
  display: block;
  margin: 10px 0;
}
.anime-timeline-item img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.anime-timeline-item a{
  padding-left: 10px;
  font-size: 15px
}